*{
    margin: 0px;
    padding: 0px;
}
html,body
{
    max-height: 100%;
    max-width: 100%;
    width:100%;
    height:100%;
	
}


.bind
{
	padding:70px 0px 00px 0px;
	text-align:center;
}
.bind1
{
	padding:30px 0px 20px 0px;
	text-align:center;
}

.bind h1, .bind1 h1
{
	color:#fff;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size:30px;
	margin-top:20px;
}
.sepration
{
	width:100%;
	height:auto;
	margin:0px auto;
}
.sepration1
{
	width:80%;
	height:auto;
	margin:0px auto;
	padding-top:20px;
}
.login-btn
{
	margin-top:30px;
	background:rgba(255,255,255,1.00);
	border-radius:5px;
	border:none;
	font-family:"open sans",sans-serif;
	font-size:14px;
	padding:15px 30px;
	width:100%;
    color:#00A9D4;
}
.register-btn
{
	background:none;
	margin-top:20px;
	border-radius:5px;
	border:1px solid #fff ;
	font-family:"open sans",sans-serif;
	font-size:14px;
	padding:15px 30px;
	width:100%;
        color:#fff;
}
.submit-btn
{
	background:none;
	margin-top:5px;
	border-radius:5px;
	border:1px solid #00A9D4;
	font-family:"open sans",sans-serif;
	font-size:14px;
	padding:15px 30px;
	width:85%;
    color:#00A9D4;
}
.submit-btn-login
{
	background:none;
	margin-top:30px;
	border-radius:5px;
	border:1px solid #00A9D4;
	font-family:"open sans",sans-serif;
	font-size:14px;
	padding:15px 30px;
	width:85%;
    color:#00A9D4;
}
.mdl-section
{
    width: 100%;
    height:400px;
    
	background:#fff;
	background-attachment: fixed;
	background-size: cover;
}
.mdl-section-newsfeed
{
    width: 100%;
    height:500px;
    background:#fff;
	overflow:hidden;
	background-attachment: fixed;
	background-size: cover;
}
.mdl-section1
{
    width: 100%;
    height:65%;
    background:#fff;
    background-attachment: fixed;
	background-size: cover;
}

.mdl-section h1
{
    font-size: 24px;
    font-family: "open sans", sans-serif;
    color:#00A9D4;
    margin: 20px 0px;
    font-weight: lighter;
}
.input-field
{
    width: 100%;
    margin:20px auto;
    text-align: center;
}
.input-field1
{
    width: 80%;
    margin:20px auto;
    text-align: center;
}
input[type="text"]
{
     
    width: 84%;
    margin:0px auto;
    border-style: solid;  
    border-width: 0px 0px 1px 0px; 
    padding:5px 0px 5px 0px;
    opacity: 0.8;
    color: #000;
    border-color: lightgrey; 
    outline:0; 
    font-size: 16px;
}
#fullname
{
     
    width: 84%;
    margin:0px auto;
    background: url(../img/mail.png);
    background-position: left;
    background-size: 20px;
    background-repeat: no-repeat;
    border-style: solid;  
    border-width: 0px 0px 1px 0px; 
    padding:5px 0px 5px 30px;
    opacity: 0.8;
    color: #000;
    border-color: lightgrey; 
    outline:0; 
    font-size: 16px;
}
input[type="email"]
{
     
    width: 84%;
    margin:0px auto;
    background: url(../img/mail.png);
    background-position: left;
    background-size: 20px;
    background-repeat: no-repeat;
    border-style: solid;  
    border-width: 0px 0px 1px 0px; 
    padding:5px 0px 5px 30px;
    opacity: 0.8;
    color: #000;
    border-color: lightgrey; 
    outline:0; 
    font-size: 16px;
}
input[type="password"]
{
     
    width: 85%;
    margin:0px auto;
    background: url(../img/padlock.png);
    background-position: left;
    background-size: 20px;
    background-repeat: no-repeat;
    border-style: solid;  
    border-width: 0px 0px 1px 0px; 
    padding:5px 0px 5px 30px;
    opacity: 0.8;
    color: #000;
    border-color: lightgrey; 
    outline:0; 
    font-size: 16px;
}
input[type="datetime"]
{
     
    width: 84%;
    margin:0px auto;
    border-style: solid;  
    border-width: 0px 0px 1px 0px; 
    padding:5px 0px 5px 0px;
    opacity: 0.8;
    color: #000;
    border-color: lightgrey; 
    outline:0; 
    font-size: 16px;
}
textarea
{
     
    width: 84%;
    margin:0px auto;
    border-style: solid;  
    border-width: 0px 0px 1px 0px; 
    padding:5px 0px 5px 0px;
    opacity: 0.8;
    color: #000;
    border-color: lightgrey; 
    outline:0; 
    font-size: 16px;
}
.login-with
{
    color:#fff;
    padding:20px;
}
.bind a img
{
    margin:5px;
}
.camera
{
	width:150px;
	height:150px;
}
.profile-dp
{
	border:2px solid #000;
	border-radius:50%;
	height:100px; 
	width:100px;
	position:absolute;
	left:50%;
	top:12%; 
	margin-left:-50px;
	background:url(../img/logo.png) no-repeat;
	background-size:97px;
}
.profile-dp-bar
{
	border:2px solid #000;
	border-radius:50%;
	height:60px; 
	width:60px;
	position:absolute;
	left:50%;
	top:10px; 
	margin-left:-25px;
	background:#fff;
}
.profile-dp-bar1
{
	border:2px solid #000;
	border-radius:50%;
	height:68px; 
	width:85px;
	position:absolute;
	left:45%;
	top:5px; 
	margin-left:-25px;
	background:#fff;
}

.header-space
{
	height:130px; 
	position:relative;
}
.header-space-bar
{
	height:50px; 
	position:relative;
}
.arrow-top-left
{
	float:left;
	margin:20px 10px;
}
.arrow-top-left img
{
	width:24px;
	height:24px;
}
.arrow-top-right
{
	float:right;
	margin:20px 10px;
}
.arrow-top-right img
{
	width:24px;
	height:24px;
}
.home-page
{
	margin-top:45px;
	text-align:center;
}
.home-box-sepration
{
	width:100%;
	height:auto;
	margin:0px auto;
	position:relative;
}
.hold-container
{
	width:300px;
	margin:0px auto;
	padding-left:10px;

}
.home-box
{
	height:120px;
	width:120px;
	position:relative;
	float:left;
	margin:10px;
	border:1px solid rgba(140,140,140,0.94);
	overflow:hidden;
}

.home-box img 
{
	padding:10px;
	margin:5px 0px; 
	height:80px;
	width:80px;
}
.home-box p
{
	color:#000;
}
.home-box1
{
	height:120px;
	width:120px;
	position:relative;
	float:left;
	margin:70px;
	border:1px solid rgba(140,140,140,0.94);
	overflow:hidden;
	bottom:45px;
	
}
.home-box1 img 
{
	padding:10px;
	margin:5px 0px; 
	height:80px;
	width:80px;
}
.home-box1 p
{
	color:#000;
}
.bottom-menu
{
	padding:15px 0px;
}
.bottom-menu img
{
	opacity:0.8;
}
.arrow-up {
  width: 0; 
  height: 0;
  position:absolute;
  bottom:45px;
  left:20px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #00A9D4;
}
.arrow-up1 {
  width: 0; 
  height: 0;
  position:absolute;
  bottom:45px;
  margin-left:8px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #00A9D4;
}
.arrow-up2 {
  width: 0; 
  height: 0;
  position:absolute;
  bottom:45px;
  margin-left:8px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #00A9D4;
}
#on-off
{
	cursor:pointer;
	padding:5px 10px;
}
.add-new
{
	display:none;
	position:absolute;
	right:10px;
	top:65px;
	z-index:999;
	width:150px;
	height:180px;
	background:#fff;
	box-shadow:-3px 3px 15px 0px rgba(138,138,138,1.00) ;
	animation: slide all 0.2s ease-in;
}

.add-new span
{
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:10px solid #fff;
	heigh:0px;
	width:0px;
	position:absolute;
	right:18px;
	top:-10px;

}
.items
{
	border:none !important;
	text-align:left;
	text-decoration:none;
	
}
.head-text
{
	padding:20px;
}
.data-container
{
	margin-top:20px;
	overflow-Y:scroll;
	height:480px;
}
.events
{
	position:absolute;
	top:19px;
	left:5px;
	font-family: "open sans", sans-serif;
	font-size:12px;
	font-weight:600;
}
.Jobs
{
	position:absolute;
	top:19px;
	left:4px;
	font-family: "open sans", sans-serif;
	font-size:12px;
	font-weight:600;
	
}
.news-feed
{
	position:absolute;
	top:19px;
	left:8px;
	font-family: "open sans", sans-serif;
	font-size:12px;
	font-weight:600;
}